body {
  background-color: dimgray;
}

button {
  font-size: 17px;
  font-family: cursive;
}

button:active {
  background-color: grey;
}

.Calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: lightgray;
  width: 50%;
  text-align: center;
  margin-left: 23%;
}

.input {
  grid-column: 1 / 5;
  background-color: darkgrey;
  height: 40px;
  width: 100%;
  color: white;
  text-align: right;
  font-size: 29px;
  margin-right: 5px;
  font-weight: bold;
  font-family: cursive;
}

.num {
  height: 50px;
  width: 100%;
  border: darkgrey solid 1px;
}

.math {
  background-color: darkorange;
}

.zero {
  grid-column: 1 / 3;
}

.number {
  padding-right: 5%;
}
